In [1]:
from __future__ import print_function

In [2]:
from datetime import datetime

In [3]:
from bokeh.plotting import figure, output_file, show
from bokeh.tile_providers import Vendors, get_provider
from bokeh.models import ColumnDataSource

In [4]:
from ast import literal_eval

In [5]:
import sys

In [6]:
import os

In [7]:
import os.path as path

In [8]:
import matplotlib.pyplot as mplplt
%matplotlib inline

In [9]:
import pickle as pkl

In [10]:
import pandas as pd

In [11]:
import numpy as np

In [12]:
def merc(coords):
    Coordinates = literal_eval(coords)
    
    lat = Coordinates[0]
    lon = Coordinates[1]
    
    r_major = 6378137.000
    x = r_major * math.radians(lon)
    
    scale = (x/lon)
    
    y = (180.0/math.pi) * ( math.log(math.tan(math.pi/4.0 + lat * (math.pi/180.0)/2.0)) ) * scale
    
    return (x, y)

In [13]:
#supporting function
def make_tuple_str(x, y):
    t = (x, y)
    
    return str(t)

In [14]:
# Read with pandas
datafile = pd.read_csv('../datasets/time_series-ncov-Confirmed.csv')

In [15]:
datafile

,Province/State,Country/Region,Lat,Long,Date,Value
0,#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
1,NaN,Afghanistan,33,65,2020-03-10,5
2,NaN,Afghanistan,33,65,2020-03-09,4
3,NaN,Afghanistan,33,65,2020-03-08,4
4,NaN,Afghanistan,33,65,2020-03-07,1
...,...,...,...,...,...,...
16999,NaN,Viet Nam,16,108,2020-01-26,2
17000,NaN,Viet Nam,16,108,2020-01-25,2
17001,NaN,Viet Nam,16,108,2020-01-24,2
17002,NaN,Viet Nam,16,108,2020-01-23,2
17003,NaN,Viet Nam,16,108,2020-01-22,0

In [16]:
dataframe_coords_by_date = datafile[['Country/Region', 'Province/State', 'Lat', 'Long', 'Date', 'Value']]

In [17]:
dataframe_coords_by_date

,Country/Region,Province/State,Lat,Long,Date,Value
0,#country+name,#adm1+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
1,Afghanistan,NaN,33,65,2020-03-10,5
2,Afghanistan,NaN,33,65,2020-03-09,4
3,Afghanistan,NaN,33,65,2020-03-08,4
4,Afghanistan,NaN,33,65,2020-03-07,1
...,...,...,...,...,...,...
16999,Viet Nam,NaN,16,108,2020-01-26,2
17000,Viet Nam,NaN,16,108,2020-01-25,2
17001,Viet Nam,NaN,16,108,2020-01-24,2
17002,Viet Nam,NaN,16,108,2020-01-23,2
17003,Viet Nam,NaN,16,108,2020-01-22,0

In [18]:
dataframe_coords_1st_week_january = dataframe_coords_by_date[ (dataframe_coords_by_date['Date'] > '2020-01-01') & (dataframe_coords_by_date['Date'] <= '2020-01-07')]

In [19]:
dataframe_coords_1st_week_january

Empty DataFrame
Columns: [Country/Region, Province/State, Lat, Long, Date, Value]
Index: []

In [20]:
dataframe_coords_2nd_week_january = dataframe_coords_by_date[ (dataframe_coords_by_date['Date'] > '2020-01-08') & (dataframe_coords_by_date['Date'] <= '2020-01-14')]

In [21]:
dataframe_coords_2nd_week_january

Empty DataFrame
Columns: [Country/Region, Province/State, Lat, Long, Date, Value]
Index: []

In [22]:
dataframe_coords_3rd_week_january = dataframe_coords_by_date[ (dataframe_coords_by_date['Date'] > '2020-01-15') & (dataframe_coords_by_date['Date'] <= '2020-01-21')]

In [23]:
dataframe_coords_3rd_week_january

Empty DataFrame
Columns: [Country/Region, Province/State, Lat, Long, Date, Value]
Index: []

In [24]:
dataframe_coords_4th_week_january = dataframe_coords_by_date[ (dataframe_coords_by_date['Date'] > '2020-01-22') & (dataframe_coords_by_date['Date'] <= '2020-01-28')]

In [25]:
dataframe_coords_4th_week_january

      Country/Region Province/State Lat Long        Date Value
43       Afghanistan            NaN  33   65  2020-01-28     0
44       Afghanistan            NaN  33   65  2020-01-27     0
45       Afghanistan            NaN  33   65  2020-01-26     0
46       Afghanistan            NaN  33   65  2020-01-25     0
47       Afghanistan            NaN  33   65  2020-01-24     0
...              ...            ...  ..  ...         ...   ...
16998       Viet Nam            NaN  16  108  2020-01-27     2
16999       Viet Nam            NaN  16  108  2020-01-26     2
17000       Viet Nam            NaN  16  108  2020-01-25     2
17001       Viet Nam            NaN  16  108  2020-01-24     2
17002       Viet Nam            NaN  16  108  2020-01-23     2

[2082 rows x 6 columns]

In [26]:
dataframe_coords_4th_week_january = dataframe_coords_4th_week_january[dataframe_coords_4th_week_january['Value'] > '0']

In [27]:
dataframe_coords_4th_week_january

      Country/Region   Province/State       Lat      Long        Date Value
386        Australia  New South Wales  -33.8688  151.2093  2020-01-28     4
387        Australia  New South Wales  -33.8688  151.2093  2020-01-27     4
388        Australia  New South Wales  -33.8688  151.2093  2020-01-26     3
631        Australia         Victoria  -37.8136  144.9631  2020-01-28     1
632        Australia         Victoria  -37.8136  144.9631  2020-01-27     1
...              ...              ...       ...       ...         ...   ...
16998       Viet Nam              NaN        16       108  2020-01-27     2
16999       Viet Nam              NaN        16       108  2020-01-26     2
17000       Viet Nam              NaN        16       108  2020-01-25     2
17001       Viet Nam              NaN        16       108  2020-01-24     2
17002       Viet Nam              NaN        16       108  2020-01-23     2

[274 rows x 6 columns]

In [28]:
dataframe_coords_4th_week_january.groupby(['Lat', 'Long'], sort=True)['Country/Region', 'Province/State', 'Value'].max()

                         Country/Region       Province/State Value
Lat      Long
-33.8688 151.2093             Australia      New South Wales     4
-37.8136 144.9631             Australia             Victoria     1
1.2833   103.8333             Singapore                  NaN     7
11.55    104.9167              Cambodia                  NaN     1
15       101                   Thailand                  NaN     8
16       108                   Viet Nam                  NaN     2
19.1959  109.7453        Mainland China               Hainan     8
2.5      112.5                 Malaysia                  NaN     4
22.1667  113.55               Macao SAR                Macau     7
22.3     114.2            Hong Kong SAR            Hong Kong     8
23.3417  113.4244        Mainland China            Guangdong    78
23.7     121        Taipei and environs               Taiwan     8
23.8298  108.7881        Mainland China              Guangxi    51
24.974   101.487         Mainland China               Yunnan     5
26.0789  117.9874        Mainland China               Fujian    80
26.8154  106.8748        Mainland China              Guizhou     9
27.6104  111.7088        Mainland China                Hunan     9
27.614   115.7221        Mainland China              Jiangxi    72
28.1667  84.25                    Nepal                  NaN     1
29.1832  120.0934        Mainland China             Zhejiang    62
30.0572  107.874         Mainland China            Chongqing     9
30.6171  102.7103        Mainland China              Sichuan    90
30.9756  112.2707        Mainland China                Hubei   761
31.202   121.4491        Mainland China             Shanghai    66
31.8257  117.2264        Mainland China                Anhui     9
32.9711  119.455         Mainland China              Jiangsu     9
33.2918  -112.4291                   US  Maricopa County, AZ     1
33.7879  -117.8531                   US    Orange County, CA     1
33.88202 113.614         Mainland China                Henan     9
34.0522  -118.2437                   US      Los Angeles, CA     1
35.1917  108.8701        Mainland China              Shaanxi     5
35.7452  95.9956         Mainland China              Qinghai     6
36       128          Republic of Korea                  NaN     4
         138                      Japan                  NaN     7
36.0611  103.8343        Mainland China                Gansu     7
36.3427  118.1498        Mainland China             Shandong    95
37.2692  106.1655        Mainland China              Ningxia     7
37.5777  112.2922        Mainland China               Shanxi     9
38.0428  114.5149        Mainland China                Hebei     8
39.3054  117.323         Mainland China              Tianjin     8
40.1824  116.4142        Mainland China              Beijing    91
41.1129  85.2401         Mainland China             Xinjiang     5
41.2956  122.6085        Mainland China             Liaoning     4
41.7377  -87.6976                    US      Cook County, IL     1
43.6661  126.1923        Mainland China                Jilin     8
44.0935  113.9448        Mainland China       Inner Mongolia     7
47       2                       France                  NaN     4
47.6062  -122.3321                   US      King County, WA     1
47.862   127.7615        Mainland China         Heilongjiang     9
49.2827  -123.1207               Canada     British Columbia     1
51       9                      Germany                  NaN     4
51.2538  -85.3232                Canada              Ontario     1
7        81                   Sri Lanka                  NaN     1

In [29]:
dataframe_coords_4th_week_january_index = dataframe_coords_4th_week_january.groupby(['Lat', 'Long'], sort=False)['Value'].transform(max) == dataframe_coords_4th_week_january['Value']

In [30]:
dataframe_coords_4th_week_january = dataframe_coords_4th_week_january[dataframe_coords_4th_week_january_index]

In [31]:
dataframe_coords_4th_week_january_index = dataframe_coords_4th_week_january.groupby(['Lat', 'Long'], sort=False)['Date'].transform(max) == dataframe_coords_4th_week_january['Date']

In [32]:
dataframe_coords_4th_week_january = dataframe_coords_4th_week_january[dataframe_coords_4th_week_january_index]

In [33]:
dataframe_coords_4th_week_january

,Country/Region,Province/State,Lat,Long,Date,Value
386,Australia,New South Wales,-33.8688,151.2093,2020-01-28,4
631,Australia,Victoria,-37.8136,144.9631,2020-01-28,1
1317,Cambodia,NaN,11.55,104.9167,2020-01-28,1
1464,Canada,British Columbia,49.2827,-123.1207,2020-01-28,1
1513,Canada,Ontario,51.2538,-85.3232,2020-01-28,1
2297,France,NaN,47,2,2020-01-28,4
2444,Germany,NaN,51,9,2020-01-28,4
2640,Hong Kong SAR,Hong Kong,22.3,114.2,2020-01-28,8
3130,Japan,NaN,36,138,2020-01-28,7
3522,Macao SAR,Macau,22.1667,113.55,2020-01-28,7
3576,Mainland China,Anhui,31.8257,117.2264,2020-01-23,9
3620,Mainland China,Beijing,40.1824,116.4142,2020-01-28,91
3674,Mainland China,Chongqing,30.0572,107.874,2020-01-23,9
3718,Mainland China,Fujian,26.0789,117.9874,2020-01-28,80
3769,Mainland China,Gansu,36.0611,103.8343,2020-01-26,7
3819,Mainland China,Guangdong,23.3417,113.4244,2020-01-25,78
3865,Mainland China,Guangxi,23.8298,108.7881,2020-01-28,51
3914,Mainland China,Guizhou,26.8154,106.8748,2020-01-28,9
3967,Mainland China,Hainan,19.1959,109.7453,2020-01-24,8
4015,Mainland China,Hebei,38.0428,114.5149,2020-01-25,8
4064,Mainland China,Heilongjiang,47.862,127.7615,2020-01-25,9
4114,Mainland China,Henan,33.88202,113.614,2020-01-24,9
4162,Mainland China,Hubei,30.9756,112.2707,2020-01-25,761
4213,Mainland China,Hunan,27.6104,111.7088,2020-01-23,9
4259,Mainland China,Inner Mongolia,44.0935,113.9448,2020-01-26,7
4310,Mainland China,Jiangsu,32.9711,119.455,2020-01-24,9
4356,Mainland China,Jiangxi,27.614,115.7221,2020-01-27,72
4404,Mainland China,Jilin,43.6661,126.1923,2020-01-28,8
4457,Mainland China,Liaoning,41.2956,122.6085,2020-01-24,4
4503,Mainland China,Ningxia,37.2692,106.1655,2020-01-27,7
4551,Mainland China,Qinghai,35.7452,95.9956,2020-01-28,6
4604,Mainland China,Shaanxi,35.1917,108.8701,2020-01-24,5
4649,Mainland China,Shandong,36.3427,118.1498,2020-01-28,95
4698,Mainland China,Shanghai,31.202,121.4491,2020-01-28,66
4749,Mainland China,Shanxi,37.5777,112.2922,2020-01-26,9
4796,Mainland China,Sichuan,30.6171,102.7103,2020-01-28,90
4849,Mainland China,Tianjin,39.3054,117.323,2020-01-24,8
4944,Mainland China,Xinjiang,41.1129,85.2401,2020-01-27,5
4996,Mainland China,Yunnan,24.974,101.487,2020-01-24,5
5044,Mainland China,Zhejiang,29.1832,120.0934,2020-01-25,62
5090,Malaysia,NaN,2.5,112.5,2020-01-28,4
5482,Nepal,NaN,28.1667,84.25,2020-01-28,1
6315,Republic of Korea,NaN,36,128,2020-01-28,4
6805,Singapore,NaN,1.2833,103.8333,2020-01-28,7
7050,Sri Lanka,NaN,7,81,2020-01-28,1
7197,Taipei and environs,Taiwan,23.7,121,2020-01-28,8
7247,Thailand,NaN,15,101,2020-01-27,8
8912,US,"Cook County, IL",41.7377,-87.6976,2020-01-28,1
11558,US,"King County, WA",47.6062,-122.3321,2020-01-28,1
11852,US,"Los Angeles, CA",34.0522,-118.2437,2020-01-28,1
12146,US,"Maricopa County, AZ",33.2918,-112.4291,2020-01-28,1
13714,US,"Orange County, CA",33.7879,-117.8531,2020-01-28,1
16997,Viet Nam,NaN,16,108,2020-01-28,2

In [34]:
def wgs84_to_web_mercator(dataframe, lon="Long", lat="Lat"):

    k = 6378137
    
    dataframe["x"] = dataframe[lon] * (k * np.pi/180.0)
    dataframe["y"] = np.log(np.tan((90 + dataframe[lat]) * np.pi/360.0)) * k

    return dataframe

In [35]:
dataframe_coords_4th_week_january = wgs84_to_web_mercator(dataframe_coords_4th_week_january)

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
dataframe_coords_4th_week_january_source = ColumnDataSource(data = dataframe_coords_4th_week_january)

In [ ]:
dataframe_coords_4th_week_january_source

In [ ]:
output_file("covid_19_virus_confirmed_geomapping_4th_week_january.html")

In [ ]:
tile_provider = get_provider(Vendors.CARTODBPOSITRON)

In [ ]:
# Range bounds supplied in web mercator coordinates
geo_plot = figure(x_range=(-9000000, 9000000), y_range=(-9000000, 9000000),
           sizing_mode='stretch_both')

In [ ]:
geo_plot.circle(x='Long', y='Lat', source=dataframe_coords_4th_week_january_source, line_color='yellow', fill_color='red')

In [ ]:
geo_plot.axis.visible = False

In [ ]:
geo_plot.add_tile(tile_provider)

In [ ]:
show(geo_plot)

In [ ]:
dataframe_coords_5th_week_january = dataframe_coords_by_date[ (dataframe_coords_by_date['Date'] > '2020-01-29') & (dataframe_coords_by_date['Date'] <= '2020-02-04')]

In [ ]:
dataframe_coords_5th_week_january

In [ ]:
dataframe_coords_1st_week_february = dataframe_coords_by_date[ (dataframe_coords_by_date['Date'] > '2020-02-01') & (dataframe_coords_by_date['Date'] <= '2020-02-07')]

In [ ]:
datafile['coords'] = datafile.apply(lambda x: make_tuple_str(x['Lat'], x['Long']), axis = 1)
datafile['coords_latitude'] = datafile['coords'].apply(lambda x: merc(x)[0])
datafile['coords_longitude'] = datafile['coords'].apply(lambda x: merc(x)[1])

In [ ]:
output_file("covid_19_virus_confirmed_geomapping.html")

In [ ]:
tile_provider = get_provider(Vendors.CARTODBPOSITRON)

In [ ]:
# Range bounds supplied in web mercator coordinates
geo_plot = figure(x_range=(-9000000, 9000000), y_range=(-9000000, 9000000),
           sizing_mode='stretch_both',
           x_axis_type="mercator", y_axis_type="mercator")

In [ ]:
geo_plot.add_tile(tile_provider)

In [ ]:
show(geo_plot)